contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
  packages:
    - ca-certificates-bundle
    - busybox
    - build-base
    - git
    - openssh
    - go-1.20
    - wolfi-baselayout

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 0

environment:
  GODEBUG: tarinsecurepath=0,zipinsecurepath=0

entrypoint:
  command: /usr/bin/go

cmd: help

archs:
  - x86_64
  - aarch64
