contents:
  packages:
    - katib-suggestion-hyperopt

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

environment:
  SUGGESTION_DIR: "cmd/suggestion/hyperopt/v1beta1"
  PYTHONPATH: /opt/katib:/opt/katib/pkg/apis/manager/v1beta1/python:/opt/katib/pkg/apis/manager/health/python
  PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python

entrypoint:
  command: python3 /opt/katib/cmd/suggestion/hyperopt/v1beta1/main.py
