contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - ca-certificates-bundle
    - wolfi-baselayout
    - flux-helm-controller
accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532
entrypoint:
  command: /usr/bin/helm-controller
archs:
  - x86_64
  - aarch64
annotations:
  "org.opencontainers.image.authors": "Chainguard Team https://www.chainguard.dev/"
  "org.opencontainers.image.url": https://edu.chainguard.dev/chainguard/chainguard-images/reference/flux-helm-controller/
  "org.opencontainers.image.source": https://github.com/chainguard-images/images/tree/main/images/flux-helm-controller
environment:
  PATH: /usr/sbin:/sbin:/usr/bin:/bin
