contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
  packages:
    - ca-certificates-bundle
    - zot
    - wolfi-baselayout

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

paths:
  - path: /var/lib/zot/data
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o777
    recursive: true

entrypoint:
  command: /usr/bin/zot

cmd: --help

archs:
  - x86_64
  - aarch64

environment:
  PATH: /usr/sbin:/sbin:/usr/bin:/bin
