monopod/monopod
generated/
.idea

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

.terraform*
!.terraform.lock.hcl
terraform.tfstate*
plan.out*
main_override.tf

# Files added by running `apko build` directly
sbom-*.json
sbom-*.cdx
*.tar

# macOS
.DS_Store

imagetest-logs/

# This file should only be created by process.
tflib/tagger/active_tags_override.tf
