monopod/monopod
.idea

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

.terraform*
terraform.tfstate*
plan.out*
.test-data

# Files added by running `apko build` directly
sbom-*.json
sbom-*.cdx
*.tar
