# Docs for CODEOWNERS:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# We consider these images to worthy of additional review.
busybox/image.yaml               @amdawson @imjasonh @kaniini @mattmoor
busybox/configs/*.apko.yaml      @amdawson @imjasonh @kaniini @mattmoor
git/image.yaml                   @amdawson @imjasonh @kaniini @mattmoor
git/configs/*.apko.yaml          @amdawson @imjasonh @kaniini @mattmoor
static/image.yaml                @amdawson @imjasonh @kaniini @mattmoor
static/configs/*.apko.yaml       @amdawson @imjasonh @kaniini @mattmoor
wolfi-base/image.yaml            @amdawson @imjasonh @kaniini @mattmoor
wolfi-base/configs/*.apko.yaml   @amdawson @imjasonh @kaniini @mattmoor

# Ensure that CODEOWNERS itself is only able to be modified by super owners.
CODEOWNERS @chainguard-images/images-owners
