contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
  packages:
    - ca-certificates-bundle
    - glibc
    - wolfi-baselayout
archs:
  - x86_64
  - aarch64
environment:
  PATH: /usr/sbin:/sbin:/usr/bin:/bin
