contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - ca-certificates-bundle
    - wolfi-baselayout
    - glibc-locale-en
    - busybox
    - bash
    - openjdk-11

accounts:
  groups:
    - groupname: java
      gid: 65532
  users:
    - username: java
      uid: 65532
  run-as: java
  recursive: true

work-dir: /home/build

environment:
  LANG: en_US.UTF-8
  JAVA_HOME: /usr/lib/jvm/openjdk

paths:
  - path: /home/build
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755

archs:
  - x86_64
  - aarch64
