contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
    - '@local /github/workspace/packages'
  packages:
    - sdk@local
    - wolfi-baselayout
    - alpine-keys
entrypoint:
  command: /usr/bin/sdk

archs:
  - x86_64
  - aarch64
