package:
  name: sdk
  version: 0.0.1
  epoch: 0
  description: Development tools for melange and apko
  target-architecture:
    - all
  copyright:
    - paths:
      - "*"
      attestation: TODO
      license: Apache-2.0
  dependencies:
    runtime:
      - ca-certificates-bundle
      - apk-tools
      - make
      - go
      - git
      - curl
      - bash
      - busybox
      - bubblewrap
      - tree

environment:
  contents:
    keyring:
      - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    repositories:
      - https://packages.wolfi.dev/os
    packages:
      - ca-certificates-bundle
      - build-base
      - busybox
      - go
      - git

pipeline:
  - runs: |
      set -x

      export DESTDIR="${{targets.destdir}}"
      export PATH="${DESTDIR}/usr/bin:/tmp/go/bin:${PATH}"

      # go setup
      export GOPATH="/tmp/go"
      mkdir -p "${GOPATH}"

      # goimports
      go install golang.org/x/tools/cmd/goimports@latest
      mkdir -p "${DESTDIR}/usr/bin"
      mv "${GOPATH}/bin/goimports" "${DESTDIR}/usr/bin"

      # melange
      git clone https://github.com/chainguard-dev/melange.git
      (cd melange && make melange install)

      # apko
      git clone https://github.com/chainguard-dev/apko.git
      (cd apko && make apko install)

      # sdk entrypoint
      cp mount/entrypoint.sh "${DESTDIR}/usr/bin/sdk"
