package:
  name: sdk
  version: 0.0.1
  epoch: 0
  description: Development tools for melange and apko
  target-architecture:
    - all
  copyright:
    - paths:
      - "*"
      attestation: TODO
      license: Apache-2.0
  dependencies:
    runtime:
      - alpine-baselayout-data
      - alpine-base
      - ca-certificates-bundle
      - apk-tools
      - make
      - go
      - git
      - curl
      - bash
      - bubblewrap
      - tree

environment:
  contents:
    repositories:
      - https://dl-cdn.alpinelinux.org/alpine/edge/main
      - https://dl-cdn.alpinelinux.org/alpine/edge/community
    packages:
      - alpine-baselayout-data
      - alpine-base
      - busybox
      - ca-certificates-bundle
      - go
      - make
      - git

pipeline:
  - runs: |
      set -x

      export DESTDIR="${{targets.destdir}}"
      export PATH="${DESTDIR}/usr/bin:${DESTDIR}/root/.cache/go/bin:${PATH}"

      # go setup
      export GOPATH="${DESTDIR}/root/.cache/go"
      mkdir -p ${GOPATH}

      # goimports
      go install golang.org/x/tools/cmd/goimports@latest

      # melange
      git clone https://github.com/chainguard-dev/melange.git
      (cd melange && make melange install)

      # apko
      git clone https://github.com/chainguard-dev/apko.git
      (cd apko && make apko install)

      # sdk entrypoint
      SDK_ENTRYPOINT="${DESTDIR}/usr/bin/sdk"
      echo '#!/bin/bash -e' > "${SDK_ENTRYPOINT}"
      echo 'printf "\nWelcome to the development environment!\n\n\n"' >> "${SDK_ENTRYPOINT}"
      echo 'export PS1="[sdk] â¯ "' >> "${SDK_ENTRYPOINT}"
      echo 'export PATH="/root/.cache/go/bin:${PATH}"' >> "${SDK_ENTRYPOINT}"
      echo 'export GOPATH="/root/.cache/go"' >> "${SDK_ENTRYPOINT}"
      echo 'export CGO_ENABLED=0' >> "${SDK_ENTRYPOINT}"
      echo 'bash -i' >> "${SDK_ENTRYPOINT}"
      chmod +x "${SDK_ENTRYPOINT}"
