contents:
  packages:
    - datadog-agent
    - vim
accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532
paths:
  - path: /etc/datadog-agent
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true
  - path: /opt/datadog-agent
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true
entrypoint:
  command: /opt/datadog-agent/bin/agent/agent
environment:
  PATH: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/jvm/java-11-openjdk/bin"
