contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - ca-certificates-bundle
    - wolfi-baselayout
    - metrics-server

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

paths:
  - path: /tmp
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true

entrypoint:
  command: metrics-server --cert-dir=/tmp

archs:
- x86_64
- aarch64

annotations:
  "org.opencontainers.image.authors": "Chainguard Team https://www.chainguard.dev/"
  "org.opencontainers.image.url": https://edu.chainguard.dev/chainguard/chainguard-images/reference/metrics-server/
  "org.opencontainers.image.source": https://github.com/chainguard-images/images/tree/main/images/metrics-server
