contents:
  packages:
    - tigera-operator
    - glibc

accounts:
  groups:
    - groupname: tigera-operator
      gid: 65532
  users:
    - username: tigera-operator
      uid: 65532
  run-as: 65532

entrypoint:
  command: /usr/bin/operator

cmd: --help

annotations:
  "org.opencontainers.image.authors": "Chainguard Team https://www.chainguard.dev/"
  "org.opencontainers.image.url": https://edu.chainguard.dev/chainguard/chainguard-images/reference/tigera-operator/
  "org.opencontainers.image.source": https://github.com/chainguard-images/images/tree/main/images/tigera-operator
