contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - wolfi-baselayout
    - haproxy
    - haproxy-oci-entrypoint

accounts:
  groups:
    - groupname: haproxy
      gid: 65532
  users:
    - username: haproxy
      uid: 65532
      gid: 65532
  run-as: 65532

paths:
  - path: /var/lib/haproxy
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
  - path: /var/run
    uid: 65532
    gid: 65532
    type: directory
    permissions: 0o755

entrypoint:
  command: /usr/local/bin/docker-entrypoint.sh

archs:
  - x86_64
  - aarch64
