contents:
  repositories:
    - https://packages.wolfi.dev/os
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  packages:
    - ca-certificates-bundle
    - openjdk-17
    - bash
    - busybox
    - gcc
    - git
    - bazel-6
    - wolfi-baselayout

accounts:
  groups:
    - groupname: bazel
      gid: 65532
  users:
    - username: bazel
      uid: 65532
  run-as: bazel

entrypoint:
  command: /usr/bin/bazel

environment:
  JAVA_HOME: /usr/lib/jvm/openjdk
  PATH: /usr/sbin:/sbin:/usr/bin:/bin

work-dir: /home/bazel

archs:
  - x86_64
  - aarch64
