contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
  packages:
    - wolfi-baselayout
    - netcat-openbsd
accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532
entrypoint:
  command: /usr/bin/nc
cmd: -h
work-dir: /home/nc
archs:
  - x86_64
  - aarch64
environment:
  PATH: /usr/sbin:/sbin:/usr/bin:/bin
