contents:
  packages:
    - aws-ebs-csi-driver

accounts:
  groups:
    - groupname: nonroot
      gid: 65532
  users:
    - username: nonroot
      uid: 65532
      gid: 65532
  run-as: 65532

  paths:
  - path: /etc/
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755
    recursive: true

entrypoint:
  command: aws-ebs-csi-driver

annotations:
  "org.opencontainers.image.authors": "Chainguard Team https://www.chainguard.dev/"
  "org.opencontainers.image.url": https://edu.chainguard.dev/chainguard/chainguard-images/reference/aws-ebs-csi-driver/
  "org.opencontainers.image.source": https://github.com/chainguard-images/images/tree/main/images/aws-ebs-csi-driver
