contents:
  packages:
    - redis
    - redis-cli
    - busybox

accounts:
  groups:
    - groupname: redis
      gid: 65532
  users:
    - username: redis
      uid: 65532
  run-as: 65532

paths:
  - path: /data
    type: directory
    uid: 65532
    gid: 65532
    permissions: 0o755

work-dir: /data

entrypoint:
  command: redis-server

