on:
  pull_request:
    branches:
      - main
    types:
      - labeled
jobs:
  presubmit-matrix-k8s:
    if: contains(github.event.pull_request.labels.*.name, 'k8s')
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: files
        uses: tj-actions/changed-files@b2d17f51244a144849c6b37a3a6791b98a51d86f # v35.9.2
        with:
          separator: ','
      - id: generate-matrix
        uses: ./.github/actions/generate-matrix
        with:
          modified-files: ${{ steps.files.outputs.all_changed_files }}
          melange-mode: none
          test-tags: k8s

  presubmit-build-k8s:
    if: contains(github.event.pull_request.labels.*.name, 'k8s')
    runs-on: ubuntu-latest
    needs:
      - presubmit-matrix-k8s
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.presubmit-matrix-k8s.outputs.matrix) }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.4.0
      - uses: chainguard-dev/actions/setup-kind@main
        with:
          k8s-version: v1.24.x
          registry-authority: registry.local:5000
      - run: |
          kubectl get pods --all-namespaces
      - name: Get registry IP address (for use inside docker)
        id: registry-ip
        run: |
          echo "ip=$(docker inspect registry.local | jq -r '.[0].NetworkSettings.Networks["bridge"].IPAddress')" >> $GITHUB_OUTPUT
      - uses: chainguard-images/actions/apko-publish@main
        with:
          config: ${{ matrix.apkoConfig }}
          tag: ${{ steps.registry-ip.outputs.ip }}:5000/${{ matrix.imageName }}:${{ matrix.apkoTargetTag }}
      - name: Run k8s tests
        run: |
          set -x
          export IMAGE_REGISTRY="registry.local:5000"
          export IMAGE_REPOSITORY="${{ matrix.imageName }}"
          export IMAGE_TAG="${{ matrix.apkoTargetTag }}"
          export IMAGE_NAME="${IMAGE_REGISTRY}/${IMAGE_REPOSITORY}:${IMAGE_TAG}"
          export IMAGE_TAG_SUFFIX="${{ matrix.apkoTargetTagSuffix }}"
          cd "${{ matrix.testCommandDir }}"
          ${{ matrix.testCommandExe }}

  presubmit-roundup:
    needs:
      - presubmit-build-k8s
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: technote-space/workflow-conclusion-action@45ce8e0eb155657ab8ccf346ade734257fd196a5 # v3.0.3

      - if: ${{ env.WORKFLOW_CONCLUSION == 'success' }}
        working-directory: /tmp
        run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 0

      - if: ${{ env.WORKFLOW_CONCLUSION == 'failure' }}
        working-directory: /tmp
        run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 1
