on:
  pull_request:

permissions: {}

jobs:
  presubmit-readme:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: changed
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
        with:
          files_yaml: |
            automated:
              - ./images/**
              - ./tflib/**
              - ./.terraform.lock.hcl
              - ./Makefile
              - ./main.tf
              - ./generated.tf
              - ./go.mod
              - ./go.sum
              - ./withdrawn-images.txt
              - ./withdrawn-repos.txt
              - ./reinstated-images.txt

      - if: ${{ steps.changed.outputs.automated == 'true' }}
        run: |
          echo "You have made changes to files that are managed by automation."
          exit 1
