on:
  pull_request:
jobs:
  presubmit-matrix:
    runs-on: ubuntu-latest
    outputs:
      shard-0: ${{ steps.generate-matrix-0.outputs.matrix }}
      shard-1: ${{ steps.generate-matrix-1.outputs.matrix }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: files
        uses: tj-actions/changed-files@b13786805affca18e536ed489687d3d8d1f05d21 # v36.0.17
        with:
          separator: ','
      - id: generate-matrix-0
        uses: ./.github/actions/generate-matrix
        with:
          shard: 0
          sharding-factor: 2
          modified-files: ${{ steps.files.outputs.all_changed_files }}
          melange-mode: none
      - id: generate-matrix-1
        uses: ./.github/actions/generate-matrix
        with:
          shard: 1
          sharding-factor: 2
          modified-files: ${{ steps.files.outputs.all_changed_files }}
          melange-mode: none

  presubmit-build-0:
    runs-on: ubuntu-latest
    needs: presubmit-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.presubmit-matrix.outputs.shard-0) }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Ensure image has tests
        if: matrix.testCommandExe == ''
        run: |
          echo "Error: ${{ matrix.imageName }} image is missing tests."
          exit 1
      - id: determine-appends
        run: |
          # Do not append out repo/keyring/package to Alpine images.
          set -x
          if ! grep 'alpinelinux\.org' "${{ matrix.apkoConfig }}" &>/dev/null; then
            echo "repository-append=https://packages.wolfi.dev/os" >> $GITHUB_OUTPUT
            echo "keyring-append=https://packages.wolfi.dev/os/wolfi-signing.rsa.pub" >> $GITHUB_OUTPUT
          fi
      - name: Add additional inputs
        id: augmented-inputs
        uses: chainguard-dev/actions/matrix-extra-inputs@main
        with:
          matrix-json: ${{ toJSON(matrix) }}
        env:
          EXTRA_INPUT_APKO_IMAGE: ghcr.io/wolfi-dev/apko:latest@sha256:7833732127af1450c5ff0c59a7bd58e5fac112b2137e90fb4852a568c544bfb7
          EXTRA_INPUT_APKO_REPOSITORY_APPEND: ${{ steps.determine-appends.outputs.repository-append }}
          EXTRA_INPUT_APKO_KEYRING_APPEND: ${{ steps.determine-appends.outputs.keyring-append }}
      - uses: ./.github/actions/build-image-terraform
        if: ${{ matrix.useTerraform }}
        with: ${{ fromJSON(steps.augmented-inputs.outputs.matrix-json) }}
      - uses: ./.github/actions/build-image
        if: ${{ ! matrix.useTerraform }}
        with: ${{ fromJSON(steps.augmented-inputs.outputs.matrix-json) }}

  presubmit-build-1:
    runs-on: ubuntu-latest
    needs: presubmit-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.presubmit-matrix.outputs.shard-1) }}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Ensure image has tests
        if: matrix.testCommandExe == ''
        run: |
          echo "Error: ${{ matrix.imageName }} image is missing tests."
          exit 1
      - id: determine-appends
        run: |
          # Do not append out repo/keyring/package to Alpine images.
          set -x
          if ! grep 'alpinelinux\.org' "${{ matrix.apkoConfig }}" &>/dev/null; then
            echo "repository-append=https://packages.wolfi.dev/os" >> $GITHUB_OUTPUT
            echo "keyring-append=https://packages.wolfi.dev/os/wolfi-signing.rsa.pub" >> $GITHUB_OUTPUT
          fi
      - name: Add additional inputs
        id: augmented-inputs
        uses: chainguard-dev/actions/matrix-extra-inputs@main
        with:
          matrix-json: ${{ toJSON(matrix) }}
        env:
          EXTRA_INPUT_APKO_IMAGE: ghcr.io/wolfi-dev/apko:latest@sha256:7833732127af1450c5ff0c59a7bd58e5fac112b2137e90fb4852a568c544bfb7
          EXTRA_INPUT_APKO_REPOSITORY_APPEND: ${{ steps.determine-appends.outputs.repository-append }}
          EXTRA_INPUT_APKO_KEYRING_APPEND: ${{ steps.determine-appends.outputs.keyring-append }}
      - uses: ./.github/actions/build-image-terraform
        if: ${{ matrix.useTerraform }}
        with: ${{ fromJSON(steps.augmented-inputs.outputs.matrix-json) }}
      - uses: ./.github/actions/build-image
        if: ${{ ! matrix.useTerraform }}
        with: ${{ fromJSON(steps.augmented-inputs.outputs.matrix-json) }}

  presubmit-roundup:
    needs:
      - presubmit-build-0
      - presubmit-build-1
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: technote-space/workflow-conclusion-action@45ce8e0eb155657ab8ccf346ade734257fd196a5 # v3.0.3

      - if: ${{ env.WORKFLOW_CONCLUSION == 'success' }}
        working-directory: /tmp
        run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 0

      - if: ${{ env.WORKFLOW_CONCLUSION == 'failure' }}
        working-directory: /tmp
        run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 1
