on:
  pull_request:

permissions: {}

jobs:
  presubmit-readme:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - id: changed
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
        with:
          files_yaml: |
            automated:
              - ./images/**
              - ./tflib/**
              - ./.terraform.lock.hcl
              - ./Makefile
              - ./main.tf
              - ./generated.tf
              - ./go.mod
              - ./go.sum
              - ./withdrawn-images.txt
              - ./withdrawn-repos.txt
              - ./reinstated-images.txt

      - if: ${{ steps.changed.outputs.automated == 'true' }}
        run: |
          echo "You have made changes to files that are managed by automation."
          exit 1
