on:
  pull_request:

permissions: {}

jobs:
  presubmit-readme:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: changed
        uses: step-security/changed-files@60967b822d3001fa82242f8d6b4ed46bc3600a68 # v47.0.1
        with:
          files_yaml: |
            automated:
              - ./images/**
              - ./tflib/**
              - ./.terraform.lock.hcl
              - ./Makefile
              - ./main.tf
              - ./generated.tf
              - ./go.mod
              - ./go.sum
              - ./withdrawn-images.txt
              - ./withdrawn-repos.txt
              - ./reinstated-images.txt

      - if: ${{ steps.changed.outputs.automated == 'true' }}
        run: |
          echo "You have made changes to files that are managed by automation."
          exit 1
