on:
  workflow_dispatch:
    inputs:
      dry_run:
        type: boolean
        default: true
        description: If true, just log

permissions: {}

jobs:
  withdraw:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: chainguard-dev/setup-chainctl@2302a56a61228140753b428d1018cb0d0addbec6 # v0.3.0
        with:
          identity: 720909c9f5279097d847ad02a2f24ba8f59de36a/b6461e99e132298f
      - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4
      - run: |
          for img in $(grep -v '\#' withdrawn-images.txt); do
            if [[ "${{ github.event.inputs.dry_run }}" == "false" ]]; then
              crane delete "$img" || true
              crane delete "$img-dev" || true
            else
              echo "DRY RUN: crane delete $img || true"
              echo "DRY RUN: crane delete $img-dev || true"
            fi
          done
